*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}
.noDisplay{
    display: none;
}
.display{
    display: block;
}
header{
    background-color: white;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    height: 60px;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,0.5);
    display: flex;
    justify-content: flex-end;
}
.headerContainer{
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.headerItems{
    display: flex;
}
.headerItem{
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    user-select: none;
    position: relative;
}
.submenu{
    position: absolute;
    top: 60px;
    display: none;
    width: 300px;
    background-color: white;
    border: 1px solid gray;
}
.submenuItem{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: white;
}
.submenuItem a{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 100%;
    height: 100%;
}
.headerItem:nth-child(3) .submenu{
    transform: translateX(-33%);
}
.headerItem:nth-child(1) .submenu{
    transform: translateX(33%);
}
.headerItem:hover .submenu{
    display: block;
}
.headerItem:hover{
    background-color: lightgray;
}
main{
    margin-top: 70px;
    min-height: 100vh;
}
.container{
    width: 100%;
    max-width: 2000px;
    margin: 0 auto;
    padding-right: 40px;
    padding-left: 40px;
}

.splide{
    position: relative;
    margin: 0 auto;
    height: 600px;
}

.splide__slide__container{
}

.splide__slide{
    text-align: center;
}

.mainInfo{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    height: 100px;
    z-index: 999;
}
.mainInfo__text{
    text-align: center;
}
.mainInfo_name{
    font-size: 40px;
    font-weight: bold;
}
.helpButtonsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
}

.helpButton{
    border: 1px solid blue;
    color: blue;
    background-color: #c2d4f2;
    height: 40px;
    min-width: 100px;
}

.detailedInfo{
    background-color: rgba(48,47,47,0.98);
    min-height: 300px;
}

.detailedInfoCards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 10px;
}
.detailedInfoCard{
    width: 33.33%;
    padding: 10px;
    min-height: 300px;
    min-width: 100px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detailedInfoCard img{
    width: 30%;
}

.detailedInfoCard a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 30px;
    height: 50px;
    width: 60%;
    background-color: rgba(48,47,47,0.98);
    border: 1px solid white;
    color: white;
}
.logo{
    width: 150px;
    height: 50px;
    display: flex;
}
.logo i{
    display: flex;
    justify-content: flex-start;
    font-family: "Comic Sans MS";
    align-items: center;
    font-size: 25px;
}
.logo img{
    width: 80px;
    height: 50px;
}
.tip a{
    display: flex;
    width: 200px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 0 auto;
    height: 50px;
    background-color: #2b4d9a;
    border: 1px solid white;
    color: white;
}

.faqBox{
    margin-top: 50px;
    min-height: 500px;
    background-color: #c2d4f2;
}

.detailedInfoCard a:hover{
    color: rgba(48,47,47,0.98);
    background-color: white;
}
.tip{
    text-align: center;
    padding: 10px 5px;
    border: 1px solid #2b4d9a;
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 100px;
}
.tip p{
    margin-bottom: 5px;
}
.spoiler{
    width: 100%;
    position: relative;
}
.spoiler input, .spoiler div  {
    display: none;
}
.spoiler label{
    position: relative;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2b4d9a;
    user-select: none;
    color: white;
}
.spoilerContent {
    background-color: white;
    min-height: 100px;
    padding: 10px;
}
label img{
    position: absolute;
    right: 10px;
    width: 15px;
    height: 15px;
}
.spoiler :checked ~ div {
    display: block;
}
.spoiler :checked ~ label img {
    transform: rotate(180deg);
}
.news {
    margin-top: 20px;
    width: 100%;
}
.news img{
    display: block;
    margin: 0 auto;
    width: 50%;
}
.newsItem{
    min-height: 100px;
    margin: 5px;
    padding: 5px;
    position: relative;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.newsItem a{
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    background-color: #2b4d9a;
    height: 40px;
    width: 200px;
}
.newsItemImage{
    display: flex;
    justify-content: flex-start;
    background-color: white;
}
.newsItem img{
    margin: 10px;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.newsItemTitle{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.newsItemTitle h3{
    padding: 20px;
}

#map{
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    height: 300px;
}
.bigTitle{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
.contactContainer{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}
.contactContainer p{
    padding: 10px;
}
.gallery{
    display: grid;
    justify-content: center;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-gap: 10px;
}
.galleryBigImage{
    display: none;
    position: fixed;
    background-color: white;
    max-height: 80vh;
    max-width: 80vh;
    width: 100%;
    top: 50%;
    left: 50%;
    right: 0;
    bottom: 0;
    z-index: 3;
    transform: translate(-50%, -50%);
}
.galleryBigImage .galleryImage{
    height: 100%;
    width: 100%;
}
.galleryImage{
    width: 100%;
    height: 300px;
}
.gallery .galleryImage:hover{
    transform: scale(1.05);
}
.galleryImage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.articleForm, .petForm{
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 2%;
}
.articleForm input, .articleForm textarea, .petForm input, .petForm textarea, .petForm progress{
    width: 100%;
    margin-bottom: 10px;
    resize: none;
}
.pets{
    display: grid;
    justify-content: center;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, 310px);
}
.petDesc{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.petName{
    font-weight: bold;
}
.petDesc img{
    width: 20px;
    height: 20px;
}
.petCard{
    width: 300px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    margin: 5px;
}
.petCard:hover{
    transform: scale(1.03);
}
.petPhoto{
    background-color: gray;
    background-position: center;
    background-size: cover;
    width: 280px;
    height: 280px;
}
.petPhoto img{
    width: 100%;
    height: 100%;
}
.howTo{
    margin-top: 40px;
    margin-bottom: 20px;
    min-height: 200px;
    padding-left: 5px;
}
.howToTitle{
    font-size: 45px;
}
.howToInfo{
    font-size: 20px;
    margin-top: 40px;
}
footer{
    margin-top: 30px;
    background-color: white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    padding-bottom: 0;
    margin-bottom: 0;
}
.filtersPanel{
    box-sizing: border-box;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    min-height: 100px;
    padding: 20px;
}

.next, .back{
    height: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: rgba(48,47,47,0.98);
    color: white;
    border: none;
    width: 100px;
}
.modal{
    display: none;
    position: fixed;
    background-color: white;
    height: 500px;
    max-width: 1200px;
    width: 100%;
    top: 50%;
    left: 50%;
    right: 0;
    bottom: 0;
    z-index: 3;
    transform: translate(-50%, -50%);
}
.modalPetImage{
    padding: 10px;
    width: 100%;
    max-width: 300px;
}
.modalPetImage img{
    width: 100%;
}
.modalPetInfo{
    width: 100%;
    max-width: 800px;
    overflow-y: auto;
}

.modalPetInfoRow{
    min-height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    border-bottom: 2px solid #f7f7f7;;
}
.modalPetInfoRow div{
    padding: 5px;
}
.modalPetInfoRow div:nth-child(2){
    width: 70%;
    text-align: right;
    margin-right: 10px;
    color: #5e5e5e;
}
.modalMainPetContent{
    display: flex;
    align-self: flex-start;
    justify-content: space-between;
    margin: 10px;
    max-height: 400px;
    overflow-y: hidden;
}
.modalPetTitle{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}
.modalOverlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
}
.takeInfo{
    width: 100%;
    min-height: 100px;
    border: 1px solid black;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.modal{
    overflow-y: auto;
}
.modalTake, .modalHelp{
    height: 50px;
    width: 150px;
    text-decoration: none;
    color: white;
    background-color: #5f5f61;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.modalTake img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
.newsImage img{
    width: 50%;
}
.newsImage{
    height: 300px;
    background-color: white;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.newsArea{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 20px;
    font-size: 24px;
}
.newsText, .newsText p, .newsText i {
    margin-top: 15px;
    line-height: 1.5;
    font-size: 18px;
    font-family: Roboto;
    font-weight: 300;
    word-wrap: break-word;
}
.donate{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.alternativeDonation{
    height: 300px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    padding: 15px;
}
.donateForm{
    width: 300px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    padding: 15px;
}
.donateForm input{
    width: 100%;
    margin-bottom: 20px;
    height: 50px;
}
.donateForm input[type=submit]{
    color: white;
    background-color: rgba(48,47,47,0.98);
    border: none;
}
.lastDonations{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.lastDonationItem{
    width: 100%;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    height: 50px;
    margin-bottom: 20px;
    padding: 10px;
}
.thanks{
    padding: 10px;
}
.bordered{
    margin-top: 30px;
    border: 1px solid black;
    padding: 10px;
}
.contactForm{
    max-width: 600px;
    margin: 30px auto 0;
    width: 100%;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    padding: 10px;
}

.contactForm input[type=submit]{
    color: white;
    background-color: rgba(48,47,47,0.98);
    border: none;
}
.contactForm input {
    width: 100%;
    height: 50px;
}
.contactForm textarea{
    width: 100%;
    resize: none;
}
.signIn{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signIn img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.noAuthErrorMessage{
    color: red;
    font-size: 14px;
}
.commentForm{
    width: 100%;
}
.commentForm textarea{
    width: 100%;
    resize: none;
}
.comments{
    width: 100%;
    padding: 5px;
}
.commentText{
    margin-top: 20px;
    font-size: 14px;
}
.comment{
    padding: 10px;
    min-height: 100px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.commentImg{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.loadingContainer{
    position: fixed;
    height: 100vh;
    width: 100%;
    right: 0;
    left: 0;
    top: 0;
    background-color: white;
}
.loading{
    width: 100%;
    height: 5px;
    background-color: #addbf7;
    margin-top: 60px;
    position: relative;
}
.loadingRun{
    width: 100px;
    background-color: #2b4d9a;
    height: 5px;
    position: absolute;
    right: 0;
    animation-name: loading;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes loading {
    0%{
        left: 0%;
    }
    100%{
        left: 100%;
    }

}
@media screen and (max-width: 470px) {
    .logo{
        display: none;
    }
}
@media screen and (max-width: 400px) {
    .menu{
        display: none;
    }
    .detailedInfoCard {
        width: 100%;
    }
    .newsItem img{
        margin: 0 auto;
        width: 99%;
    }
    .pets{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .gallery{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width: 850px) {
    .container{
        padding: 0;
    }

}


::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(95, 95, 97, 1);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

